body{
    box-sizing: border-box;
    margin: 0;  
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(141, 7, 7);
    background-image: url('https://i.gifer.com/QHZ.gif');
    background-attachment: fixed;
    background-size: 20%;
}
.header {
    background-color: rgb(0, 2, 139);
    color:  rgb(255, 0, 0);
    font-size: 30px; 
    height: 60px;
    line-height: 60px;
    padding-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    border-bottom: 10px solid rgb(205, 0, 0);
    border-top: 10px solid rgb(205, 0, 0);
    display: flex;
    justify-content: space-between;
}
.content{
    width: 940px; 
    margin: 0 auto;
    background-color: rgb(29, 29, 29);
    border-left: 11px double rgb(191, 191, 191);
    border-right: 11px double rgb(191, 191, 191);
    padding-bottom: 60px;
}
.title{
    font-size: 40px;
    color:rgb(55, 58, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 30px;
    padding-bottom: 80px;
    font-weight: bold;
    text-shadow: .07em 0 red;
    font-weight: bolder;
}
.text{
    font-size: 27px;
    color:rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    font-style: italic;
}
.h{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    display: flex;
    font-size: 25px;
    justify-content: center;
    padding-bottom: 40px;
    color:rgb(156, 156, 156);
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(0, 2, 139);
    color:  rgb(205, 0, 0);
    line-height:  40px;
    padding-right: 20px;
    font-style: italic;
    font-size: 18px;  
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: bolder;
    border-top: 10px solid rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
}
.title-top{
    font-size: 30px;
    color:rgb(55, 58, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}
.menu a{
    margin:0 auto;
    color: rgb(255, 0, 0);
    font-size: 20px;
}
.menu {
    padding-left: 40px;
    word-spacing: 1em;
}
a:hover{
    background-color: rgb(193, 0, 0);
    color: rgb(0, 10, 149);
}
.podval{
    text-align: right;
}
.b{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    font-size: 25px;
    padding-bottom: 40px;
    color:rgb(156, 156, 156);
    padding: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}